.calculator {
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 1px;
  padding: 10px;
  background-color: #f0f0f0;
}
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
#result {
  padding: 10px;
  
}

#display {
  width: 100%;
  margin-bottom: 5px;
  padding: 5px;
  font-size: 16px;
  text-align: right;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
}

button {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #fff;
  cursor: pointer;
}


button:hover {
  background-color: #eee;
}


